.Producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cantidad {
    font-weight: bold;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px;
    border-color: rgb(9, 148, 173);
    border-style: groove;
    border-radius: 8px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}