.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.729);
    width: 100%;
    min-height: 60px;
}

.Header h1, h3 {
    color: black;
    padding: 0px 10px;
}

.Header img {
    width: 150px;
}